<div class="container mt-5">
  <div class="card shadow p-5">
    <div class="d-flex justify-content-between align-items-center">
      <h1>
        {{ task?.title }}
      </h1>

      <span
        class="badge fs-6"
        [ngClass]="{
          'bg-success': task?.status === 'Completed',
          'bg-warning': task?.status === 'Pending',
        }"
      >
        {{ task?.status }}
      </span>
    </div>

    <hr />

    <p class="mt-4">
      <strong>Task ID:</strong>
      {{ task?.id }}
    </p>

    <p>
      <strong>Description:</strong>

      Enterprise Angular task management activity.
    </p>

    <a routerLink="/tasks" class="btn btn-dark mt-3"> Back To Tasks </a>
  </div>
</div>
