<div class="container mt-5">
  <div class="row">
    <div class="container mt-5">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Task Dashboard 📋</h1>
        @if (authService.getUser()?.role === "admin") {
          <button class="btn btn-danger">Delete Task</button>
        }
        <a routerLink="/tasks/create" class="btn btn-primary"> Add Task </a>
      </div>

      <!-- Search -->

      <div class="row mb-4">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            placeholder="Search Task..."
            [(ngModel)]="searchText"
          />
        </div>
      </div>

      <!-- Task Cards -->

      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let task of filteredTasks()">
          <div class="card shadow p-4 h-100">
            <div class="d-flex justify-content-between align-items-center">
              <h4>
                {{ task.title }}
              </h4>

              <span
                class="badge"
                [appHighlightStatus]="task.status"
                style="font-size: 1rem"
              >
                {{ task.status }}
              </span>
            </div>

            <p class="mt-3 text-muted">
              Task ID:
              {{ task.id }}
            </p>

            <a [routerLink]="['/tasks', task.id]" class="btn btn-dark">
              View Details
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-4 d-flex justify-content-end">
      <a routerLink="/dashboard" class="btn btn-dark"> Back to Dashboard </a>
    </div>
  </div>
</div>
