<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Task HUb - Dashboard 🚀</h1>

    <a routerLink="/tasks" class="btn btn-dark"> View Tasks </a>
    @if (authService.getUser()?.role === "admin") {
      <button class="btn btn-danger">Delete Task</button>
    }
  </div>

  <!-- Stats Cards -->

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card shadow p-4 text-center">
        <h4>Total Tasks</h4>

        <h2>
          {{ totalTasks }}
        </h2>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card shadow p-4 text-center">
        <h4>Completed</h4>

        <h2>
          {{ completedTasks }}
        </h2>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card shadow p-4 text-center">
        <h4>Pending</h4>

        <h2>
          {{ pendingTasks }}
        </h2>
      </div>
    </div>
  </div>

  <!-- Donut Chart -->

  <div class="row mt-5">
    <div class="col-md-8 mx-auto">
      <div class="card shadow p-4">
        <h3 class="text-center mb-4">Task Completion Analytics 🍩</h3>

        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [labels]="chartOptions.labels"
          [responsive]="chartOptions.responsive"
          [legend]="chartOptions.legend"
        >
        </apx-chart>
      </div>
    </div>
  </div>
</div>
